/* CSS declarations go here */
.messages-container
{
	height: auto;
	overflow: scroll;
}

h3
{
	text-align: center;
	padding-top: 40px;
}



.input-container input
{
	width: 100%;
}


#login-buttons
{
	float: right;
	margin-right: 80px;
	margin-top: 20px;
}

.message
{
	padding: 8px 5px 8px 30px;

}